IMAPStore	runbox-remote
Host		mail.runbox.com
User		{{ .userRunbox }}
PassCmd		"/usr/bin/passage runbox-msmtp"
TLSType		IMAPS

MaildirStore	runbox-local
Path		~/Mail/runbox/
Inbox		~/Mail/runbox/INBOX
Flatten		.

IMAPStore	bimsa-remote
Host		imap.exmail.qq.com
User		{{ .userBimsa }}
PassCmd		"/usr/bin/passage bimsa-email"
TLSType		IMAPS

MaildirStore	bimsa-local
Path		~/Mail/bimsa/
Inbox		~/Mail/bimsa/INBOX
Flatten		.

IMAPStore	disroot-remote
Host		disroot.org
User		{{ .userDis }}
PassCmd		"/usr/bin/passage {{ .emailDis }}"
TLSType		IMAPS

MaildirStore	disroot-local
Path		~/Mail/disroot/
Inbox		~/Mail/disroot/INBOX
Flatten		.

IMAPStore	gmail-remote
Host		imap.gmail.com
User		{{ .emailGmail }}
AuthMechs	XOAUTH2
PassCmd		"pizauth show google"
TLSType		IMAPS

MaildirStore	gmail-local
Path		~/Mail/gmail/
Inbox		~/Mail/gmail/Inbox
Flatten		.

IMAPStore	uni1-remote
Host		imap.gmail.com
User		{{ .emailUni1 }}
AuthMechs	XOAUTH2
PassCmd		"pizauth show uni1"
TLSType		IMAPS

MaildirStore	uni1-local
Path		~/Mail/uni1/
Inbox		~/Mail/uni1/Inbox
Flatten		.

Channel		runbox
Far		:runbox-remote:
Near		:runbox-local:
Patterns	*
SyncState	*
Create		Both
Expunge		Both

Channel		bimsa
Far		:bimsa-remote:
Near		:bimsa-local:
Patterns	*
SyncState	*
Create		Both
Expunge		Both

Channel		disroot
Far		:disroot-remote:
Near		:disroot-local:
Patterns	* !Archive
SyncState	*
Create		Both
Expunge		Both

Channel		gmail
Far		:gmail-remote:
Near		:gmail-local:
Patterns	* !"[Gmail]/All Mail" !"[Gmail]/Important" !"[Gmail]/Starred"
Patterns	!"[Gmail]/Bin"
SyncState	*
Create		Both
Expunge		Both

Channel		uni1
Far		:uni1-remote:
Near		:uni1-local:
Patterns	* !"[Gmail]/All Mail" !"[Gmail]/Important" !"[Gmail]/Starred"
Patterns	!"[Gmail]/Bin"
SyncState	*
Create		Both
Expunge		Both
