Create		Both
Expunge		Both

IMAPStore	runbox-remote
Host		mail.runbox.com
User		{{ .userRunbox }}
PassCmd		"/usr/bin/passage runbox-msmtp"
TLSType		IMAPS

MaildirStore	runbox-local
Path		~/Mail/runbox/
Inbox		~/Mail/runbox/INBOX
SubFolders	Verbatim
Flatten		.

IMAPStore	disroot-remote
Host		disroot.org
User		{{ .userDis }}
PassCmd		"/usr/bin/passage {{ .emailDis }}"
TLSType		IMAPS

MaildirStore	disroot-local
Path		~/Mail/disroot/
Inbox		~/Mail/disroot/INBOX
SubFolders	Verbatim
Flatten		.

IMAPStore	rutgers-remote
Host		outlook.office365.com
User		{{ .emailUni1 }}
AuthMechs	XOAUTH2
PassCmd		"pizauth show microsoft"
TLSType		IMAPS

MaildirStore	rutgers-local
Path		~/Mail/rutgers/
Inbox		~/Mail/rutgers/Inbox
SubFolders	Verbatim
Flatten		.

IMAPStore	gmail-remote
Host		imap.gmail.com
User		{{ .emailGmail }}
AuthMechs	XOAUTH2
PassCmd		"pizauth show google"
TLSType		IMAPS

MaildirStore	gmail-local
Path		~/Mail/gmail/
Inbox		~/Mail/gmail/Inbox
SubFolders	Verbatim
Flatten		.

Channel		runbox
Far		:runbox-remote:
Near		:runbox-local:
Patterns	*
SyncState	*

Channel		disroot
Far		:disroot-remote:
Near		:disroot-local:
Patterns	* !Archive !Trash
SyncState	*

Channel		rutgers
Far		:rutgers-remote:
Near		:rutgers-local:
Patterns	* !Archive !Calendar !Calendar/Birthdays !Contacts
Patterns	!"Conversation History" !"Deleted Items" !"Deleted Items/Sent"
Patterns	!"Deleted Items/Trash" !Journal !Notes !Sent !Outbox !Tasks
Patterns	!"Calendar/United States holidays" !Trash
SyncState	* 

Channel		gmail
Far		:gmail-remote:
Near		:gmail-local:
Patterns	* !"[Gmail]/All Mail" !"[Gmail]/Important" !"[Gmail]/Starred"
Patterns	!"[Gmail]/Bin"
SyncState	*
