# bind index,pager \Cp sidebar-prev
  bind pager <up> previous-line
  bind pager <down> next-line
  bind editor <Tab> complete-query

  set askcc
#  set editor            = "vis +:silent+?^$"
  set editor = vis
  set fast_reply
  set forward_format    = "Fwd: %s"
  set forward_quote
  set header_cache      = ${XDG_CACHE_HOME}/mutt
unset mark_old
unset markers
  set menu_scroll
  set pager_context     = 5
  set pager_index_lines = 10
  set pager_stop
  set reply_to
  set reverse_name
  set query_command	= "abook --datafile ${XDG_DATA_HOME}/abook/addressbook --mutt-query '%s'"
#  set sidebar_visible	= yes
  set sort              = reverse-threads
  set sort_aux          = last-date-received
#  set sort_thread_groups = reverse-last-date-received 
  set strict_threads	= yes
  set status_format     = "-%r- %f%?t? Tag:%t?%?p? Post:%p? -%>-"
  set timeout           = 3
  set tmpdir            = /tmp
#set collapse_unread="yes"

alternative_order text/plain text/enriched text/html
set mailcap_path   = ${XDG_CONFIG_HOME}/mutt/mailcap
auto_view text/html

ignore *
unignore from: to: cc: date: subject:
hdr_order from: to: cc: date: subject:

  set mbox_type		= Maildir
  set edit_headers	= yes
  set sendmail		= "/usr/bin/msmtp"
  set use_from		= yes
  set realname		= {{ .fullName | quote}}
  set envelope_from	= yes

mailboxes = ~/Mail/disroot/INBOX ~/Mail/gmail/Inbox ~/Mail/bimsa/INBOX ~/Mail/runbox/INBOX ~/Mail/rutgers/Inbox

source ${XDG_CONFIG_HOME}/mutt/accounts/gmail

folder-hook bimsa/* source ${XDG_CONFIG_HOME}/mutt/accounts/bimsa
folder-hook runbox/* source ${XDG_CONFIG_HOME}/mutt/accounts/runbox
folder-hook disroot/* source ${XDG_CONFIG_HOME}/mutt/accounts/disroot
folder-hook gmail/* source ${XDG_CONFIG_HOME}/mutt/accounts/gmail
folder-hook rutgers/* source ${XDG_CONFIG_HOME}/mutt/accounts/rutgers

macro index <f4> "<change-folder>?<change-dir><kill-line>~/Mail/gmail<enter><exit><change-folder>~/Mail/gmail/Inbox<enter>" "go to gmail inbox"
macro index <f5> "<change-folder>?<change-dir><kill-line>~/Mail/bimsa<enter><exit><change-folder>~/Mail/bimsa/INBOX<enter>" "go to bimsa inbox"
