#!/bin/sh

[ -z "${WAYLAND_DISPLAY}" ] || return
[ $(tty) = "/dev/tty1" ] || return

{{- if eq .chezmoi.arch "amd64" }}
# t460s
export INTEL_DEBUG=noccs
export LIBVA_DRIVER_NAME=iHD
{{- end }}

# export XDG_SESSION_TYPE=wayland
# export XDG_CURRENT_DESKTOP=river

# export ELECTRON_OZONE_PLATFORM_HINT=wayland

{{- if eq .chezmoi.arch "arm64" }}
# apple silicon wlroots bug
# export WLR_RENDER_DRM_DEVICE=/dev/dri/renderD128
{{- end }}

# timestamp=$(date +%F-%R)
# exec river -no-xwayland -log-level warning > /tmp/river-${timestamp} 2>&1
dinitctl start river
