  set mbox_type		= Maildir
  set folder		= ~/Mail/bimsa
  set spoolfile		= +INBOX
  unset record
#  set record		= +'Sent Messages'
  set postponed		= +Drafts
  set trash		= +'Deleted Messages'
  set edit_headers	= yes
  set sendmail		= "/usr/bin/msmtp -a bimsa"
  set use_from		= yes
  set realname		= {{ .fullName | quote}}
  set from		= {{ .userBimsa }}
  set envelope_from	= yes
