  set mbox_type		= Maildir
  set folder		= ~/Mail/uppsala
  set spoolfile		= +Inbox
  set record		= +Sent
  set postponed		= +Drafts
  set trash		= +Trash
  set edit_headers	= yes
  set realname		= {{ .fullName | quote }}
